<%- include('header')%>
<head>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div id="outer-wrapper">
        <div id="wrapper" class="container">
            <header>
                <div id="logo">
                    Movies
                </div>
                <nav>
                    <a href="/Admin/login" class="navlink">Admin login</a>
                    <a href="/CreateAccount" class="navlink">Create Account</a>
                    <a href="/Login" class="navlink">Login</a>
                </nav>
            </header>
            <main class="d-flex justify-content-center">
                <div id="left-side">
                    <h1>
                        Get Entertainment at your DoorStep
                    </h1>
                    <p>Movies can and do have tremendous influence in shaping young lives in the realm of entertainment towards the ideals and objectives of normal adulthood</p>
                    <ol>To watch your favorite movies just follow following steps
                  <li><a href="/CreateAccount" class="navlink">Create New Account</a></li>
                        <li>And start watching your favorite movies</li>
                    </ol>
                </div>
                <div id="right-side">
                </div>
            </main>
        </div>
    </div>
</body>
</html>