<%- include('header')%>
<body>
    <h1>index</h1>
    <form action="getdata" method="POST">
        <input type="text" id="data" name="data">
        <button>Submit</button>
    </form>
</body>
</html>