<%- include('../header')%>
<head>
    <link rel="stylesheet" href="/css/createaccount.css">
</head>
<body>
    <div id="outer-wrapper">
        <div id="wrapper" class="container">
            <header>
                <div id="logo">
                    <a href="/" class="navlink">Movies</a>
                </div>
                <nav>
                    <a href="/Login" class="navlink">Login</a>
                </nav>
            </header>
            <main>
                <h1>Create Account</h1>
                <form action="/CreateAccount/details" method="POST" class="d-flex justify-content-center align-items-center">
                    <div id="namegetter" class="field">
                        <label for="ns">Name :</label>
                        <input type="text" placeholder="Name Surname" id="ns" name="ns" required>
                    </div>
                    <div id="emailgetter" class="field">
                        <label for="email">Email :</label>
                        <input type="email" placeholder="Email" id="email" name="email" required>
                    </div>
                    <div id="passwordgetter" class="field">
                        <label for="password">Password :</label>
                        <input type="password" placeholder="Password for account" id="password" name="password" required>
                    </div>
                    <button type="submit">Create Account</button>
                </form> 
            </main>
        </div>
    </div>
</body>
</html>